general:
  port: 3000
  verbose: "false"
  https:
    enabled: false
    port: 3443
    cert_file: "./cert.pem"
    key_file: "./key.pem"

chroma:
  host: "localhost"
  port: 8000
  collection: "chatbot"
  confidence_threshold: 0.65

elasticsearch:
  enabled: false
  node: 'https://localhost:9200'
  index: 'chatbot'
  auth:
    username: ${ELASTICSEARCH_USERNAME}
    password: ${ELASTICSEARCH_PASSWORD}

ollama:
  base_url: "http://localhost:11434"
  temperature: 0.01
  top_p: 0.8
  top_k: 20
  repeat_penalty: 1.2
  num_predict: 1024
  num_ctx: 8192
  num_threads: 8
  model: "chatbot"
  embed_model: "bge-m3"
  max_response_length: 200
  stream: true

vllm:
  base_url: "http://localhost:5000"
  temperature: 0.01
  max_tokens: 32
  model: "VLLMQwen2.5-14B"
  top_p: 0.8
  frequency_penalty: 0.0
  presence_penalty: 0.0
  best_of: 1
  n: 1
  logprobs: null
  echo: false
  stream: false

eleven_labs:
  api_key: null  # API key now loaded from .env
  voice_id: "kPzsL2i3teMYv0FxEYQ6"