# Widget source toggle - 'local' or 'npm'
VITE_WIDGET_SOURCE=npm
VITE_LOCAL_WIDGET_JS_PATH=/dist/chatbot-widget.umd.js
VITE_LOCAL_WIDGET_CSS_PATH=/dist/chatbot-widget.css
VITE_NPM_WIDGET_VERSION=0.6.3
VITE_WIDGET_DEBUG=false
VITE_PROMPT_ENABLED=false
VITE_DEFAULT_API_ENDPOINT=http://localhost:3000
VITE_GITHUB_OWNER=schmitech
VITE_GITHUB_REPO=orbit
VITE_UNAVAILABLE_MSG=false
VITE_ENDPOINT_FIELD_ENABLED=false