# Environment and config files
.env
.env.*
.api_keys

# Python related
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/
.python-version
.coverage
htmlcov/
.pytest_cache/

# Logs
logs/
*.log

# Operating system files
.DS_Store
Thumbs.db
*.swp
*~

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.db
sqlite_db
chroma_db
.vscode/launch.json
gguf
test_reports/